#about{
position: relative;
padding-top: 50px;
gap: 5rem;
}

.about-containers{
    gap:2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container{
    justify-content: center;
    flex-direction: column;
}

.about-containers, .about-details-container{
    display: flex;
}

.about__section__text{
    border-radius: 2rem;
    align-self: left;
    text-align: center;
}

.detials-containers{
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53,53,45) 0.1rem solid;
    border-color: rgb(163,163,163);
    text-align: center;
    
}

.section-container{
    gap:4rem;
    height: 100%;
}

.details-containers{
    padding:100px;
}

.about-image-container {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    max-width: 100%; /* Ensure the container doesn't exceed the viewport width */
}

.about-image-text {
    
    max-width: 600px;
     /* Allow the text to grow and take available space */
    padding: 20px; /* Add spacing around the text */
    box-sizing: border-box; /* Include padding in the width calculation */
}

.about-image-text p{
    font-size: x-large;
}

.about-image {
     /* Allow the image to grow and take available space */
    text-align: right; /* Align the image to the right within its container */
}

.about-image img {
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    height: auto; /* Maintain the image's aspect ratio */
}
