#about{
position: relative;
padding-top: 50px;
height: 95vh;
gap: 5rem;
}

.about-containers{
    gap:2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container{
    justify-content: center;
    flex-direction: column;
}

.about-containers, .about-details-container{
    display: flex;
}

.about__section__text{
    border-radius: 2rem;
    align-self: left;
    text-align: center;
}

.detials-containers{
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53,53,45) 0.1rem solid;
    border-color: rgb(163,163,163);
    text-align: center;
    
}

.section-container{
    gap:4rem;
    height: 100%;
}

.details-containers{
    padding:100px;
}

.about_img_containers{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20x;
    height: 50vh;
}
.about_description{
    flex:1;
    padding: 20vh;
}
.about_image{
    width: 600px; /* Fixed width for the video container */
    height: auto;
    margin-left: 10px; /* Add space between the video and description */
    overflow: hidden; 
}

.about-image-details{
    width:100%;
    height: auto;
}
.about_description{
    white-space: normal; /* Allow text to wrap */
    overflow: auto; /* Add scrollbars when content overflows */
    max-height: 400px; /* Limit the height to control the scrollable area */
}

.about_image{
    width: 600px; /* Fixed width for the video container */
    height: auto;
    margin-right: 10px; /* Add space between the video and description */
    overflow: hidden; 
}

.about_img_containers{
    padding-bottom: 1000px;
}
