#projects{
    padding-top: 50px;
    height: 240vh;
}
.project-border{
    border-radius: 2rem;
    border: rgb(53,53,45) 0.1rem solid;
    border-color: rgb(163,163,163);

}
.project-container { 
    padding: 50px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}
.project-video-container {

    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
 
   
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

/* Styles for the video on the left */


.project-details-container{
    position: relative; /* Relative positioning to keep it within the container */
    padding: 20px;
}

.project-details-container p {
    font-size: 1rem; /* Set the desired font size for paragraphs */

}

.project-details {
    flex: 1;
}

/* Optional: Add additional styling for the text description (font size, color, etc.) */
.project-details h2 {
    font-size: 24px;
    color: #333;
}

.project-details p {
    font-size: 16px;
    color: #666;
}

/* Styles for the button */


/* Optional: Customize the button style */
.project-button a {
    border-radius: 2rem;
    border: rgb(53,53,45) 0.1rem solid;
    border-color: rgb(163,163,163);
    display: inline-block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}
